# import and open training

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('01-census-income.csv')

In [5]:
df

,age,workclass,weight,education,edu num,marital status,occupation,relationship,race,sex,captial-gain,capital-loss,hours-per-week,native country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,No
1,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,No
2,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,Yes
3,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,Yes
4,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33869,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,No
33870,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,No
33871,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,No
33872,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,No
33873,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,Yes

In [6]:
df.columns

Index(['age', 'workclass', 'weight', 'education', 'edu num', 'marital status',
       'occupation', 'relationship', 'race', 'sex', 'captial-gain',
       'capital-loss', 'hours-per-week', 'native country', 'label'],
      dtype='object')

In [7]:
y=df['label']
y

0         No
1         No
2        Yes
3        Yes
4        Yes
        ...
33869     No
33870     No
33871     No
33872     No
33873    Yes
Name: label, Length: 33874, dtype: object

In [8]:
X=df[['age','edu num','captial-gain','capital-loss','hours-per-week']]
X

       age  edu num  captial-gain  capital-loss  hours-per-week
0       39       13          2174             0              40
1       37       14             0             0              40
2       42       13          5178             0              40
3       30       13             0             0              40
4       40       11             0             0              40
...    ...      ...           ...           ...             ...
33869   33       13             0             0              40
33870   64        9             0             0              40
33871   38       13             0             0              50
33872   44       13          5455             0              40
33873   35       13             0             0              60

[33874 rows x 5 columns]

# Knn model

In [9]:
from sklearn.neighbors import KNeighborsClassifier

In [10]:
knn=KNeighborsClassifier(n_neighbors=7)# สร้าง object
knn.fit(X,y) #ให้เรียนรู้

KNeighborsClassifier(n_neighbors=7)

**predict โดยไม่สร้างตาราง**

In [11]:
knn.predict([[45,16,0,0,60],
             [24,16,0,0,40]])# ทำนาย 2 คน

array(['Yes', 'No'], dtype=object)

**predict โดยสร้างตาราง**

In [12]:
#แบบสร้างตาราง
new_data=pd.DataFrame([[45,16,0,0,60],[24,16,0,0,40]],columns=X.columns)
new_data

   age  edu num  captial-gain  capital-loss  hours-per-week
0   45       16             0             0              60
1   24       16             0             0              40

In [13]:
knn.predict(new_data)

array(['Yes', 'No'], dtype=object)

In [14]:
knn.predict(X)

array(['No', 'No', 'Yes', ..., 'Yes', 'No', 'Yes'], dtype=object)

In [15]:
y

0         No
1         No
2        Yes
3        Yes
4        Yes
        ...
33869     No
33870     No
33871     No
33872     No
33873    Yes
Name: label, Length: 33874, dtype: object

# score with train set

In [16]:
knn.score(X,y) #คะแนนข้อมูลที่ train เอง

0.8510657141170219

#score with test set

In [18]:
# unseen เอาไว้ใช้ครั้งสุดท้ายครั้งเดียว
df2=pd.read_csv('02-future-census.csv')
df2

,age,workclass,weight,education,edu num,marital status,occupation,relationship,race,sex,captial-gain,capital-loss,hours-per-week,native country,label
0,32,Private,241802,HS-grad,9,Married-civ-spouse,Other-service,Wife,Other,Female,0,0,40,United-States,No
1,81,Private,164416,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,Yes
2,17,Self-emp-inc,181608,10th,6,Never-married,Sales,Own-child,White,Male,0,0,12,United-States,No
3,36,Private,289223,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,1848,40,United-States,Yes
4,54,Private,351760,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,35,United-States,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9763,48,Local-gov,216689,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,No
9764,21,Private,345253,Some-college,10,Never-married,Adm-clerical,Not-in-family,Other,Male,2174,0,40,United-States,No
9765,57,Self-emp-inc,51016,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,Yes
9766,52,Private,117295,1st-4th,2,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,Yes
9767,40,Private,146659,Assoc-acdm,12,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,No

In [19]:
unseen_X=df2[['age','edu num','captial-gain','capital-loss','hours-per-week']]
unseen_X

      age  edu num  captial-gain  capital-loss  hours-per-week
0      32        9             0             0              40
1      81       15             0             0              45
2      17        6             0             0              12
3      36       10             0          1848              40
4      54       10             0             0              35
...   ...      ...           ...           ...             ...
9763   48        9             0             0              40
9764   21       10          2174             0              40
9765   57        9             0             0              60
9766   52        2             0             0              50
9767   40       12             0             0              40

[9768 rows x 5 columns]

In [20]:
unseen_y=df2['label']
unseen_y

0        No
1       Yes
2        No
3       Yes
4        No
       ...
9763     No
9764     No
9765    Yes
9766    Yes
9767     No
Name: label, Length: 9768, dtype: object

In [21]:
knn.score(unseen_X,unseen_y)# test

0.8279074529074529

# train test split

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [24]:
knn2=KNeighborsClassifier(n_neighbors=29)

In [25]:
knn2.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=29)

In [26]:
knn2.score(X_train,y_train)

0.8452710432119266

In [27]:
knn2.score(X_test,y_test)#ปรับให้เปอร์เซ็นของชุด train test ใกล้เคียงกัน

0.8395571955719557

# retrain with all data

In [28]:
knn2.fit(X,y)

KNeighborsClassifier(n_neighbors=29)

In [29]:
knn2.score(X,y)

0.8467851449489284

In [30]:
knn2.score(unseen_X,unseen_y)

0.835995085995086

# cross-validation

In [31]:
#เพื่อสร้างโมเดลที่กำหนดค่า hyperparameter
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
knn3=KNeighborsClassifier(n_neighbors=29)
knn3.fit(X_train,y_train)
knn3.score(X_train, y_train)

0.8461566847485147

In [32]:
knn3.score(X_test,y_test)

0.8286346863468634

In [33]:
from sklearn.model_selection import cross_val_score

In [34]:
knn_cv = KNeighborsClassifier(n_neighbors=29)

In [35]:
knn_29_cv_result=cross_val_score( knn_cv, X, y, cv=10)# ทำ 10 รอบ

In [36]:
knn_29_cv_result

array([0.83559622, 0.83087367, 0.84090909, 0.84149941, 0.829938  ,
       0.84233835, 0.83731916, 0.84794804, 0.83200472, 0.83643342])

In [37]:
knn_29_cv_result.mean()# หาค่าเฉลี่ย

0.8374860089048027

In [38]:
knn_cv = KNeighborsClassifier(n_neighbors=35) # ทำเพื่อเช็ค
knn_35_cv_result=cross_val_score( knn_cv, X, y, cv=10)
knn_35_cv_result

array([0.83618654, 0.8270366 , 0.83913813, 0.83943329, 0.82787127,
       0.84233835, 0.83790965, 0.84735754, 0.83229997, 0.83141423])

In [39]:
knn_35_cv_result.mean()

0.8360985593572758

# GridSearchCV

In [40]:
#ทำเพื่อไม่ต้องเปลี่ยนค่า k เอง
from sklearn.model_selection import GridSearchCV

In [41]:
knn_grid_search = KNeighborsClassifier()

In [42]:
parameter_grid={'n_neighbors':[15,17,19,21,23,25,27,29,31,35]} #dic ที่เก็บค่าที่จะปรับเรื่อยๆ

In [43]:
grid_search= GridSearchCV(knn_grid_search, parameter_grid,cv=10)

In [44]:
grid_search.fit(X,y)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [15, 17, 19, 21, 23, 25, 27, 29, 31,
                                         35]})

In [45]:
grid_search.best_params_ #parameter ที่ได้คะแนนดีสุด

{'n_neighbors': 29}

In [46]:
grid_search.best_score_ #คะแนนดีสุด

0.8374860089048027

In [47]:
grid_search.cv_results_

{'mean_fit_time': array([0.4908814 , 0.495134  , 0.51219809, 0.52999284, 0.52740262,
        0.51190207, 0.52941711, 0.53312764, 0.51886361, 0.50609534]),
 'std_fit_time': array([0.00386479, 0.0108319 , 0.01069545, 0.02110576, 0.02691523,
        0.00855671, 0.02187101, 0.01261003, 0.00801047, 0.00370889]),
 'mean_score_time': array([0.18934419, 0.18857512, 0.20113192, 0.20339229, 0.20171247,
        0.20645847, 0.20817862, 0.20829203, 0.2115128 , 0.21086814]),
 'std_score_time': array([0.0094576 , 0.00348986, 0.01107296, 0.00744225, 0.00516725,
        0.00860778, 0.00353063, 0.00481515, 0.00788128, 0.00329117]),
 'param_n_neighbors': masked_array(data=[15, 17, 19, 21, 23, 25, 27, 29, 31, 35],
              mask=[False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'params': [{'n_neighbors': 15},
  {'n_neighbors': 17},
  {'n_neighbors': 19},
  {'n_neighbors': 21},
  {'n_neighbors': 23},
  {'n_neighbors': 25},
  {'n_neighbors': 27},
  {'n_neighbors': 29},
  {'n_neighbors': 31},
  {'n_neighbors': 35}],
 'split0_test_score': array([0.83884298, 0.8350059 , 0.8379575 , 0.83618654, 0.83707202,
        0.83441558, 0.83736718, 0.83559622, 0.83825266, 0.83618654]),
 'split1_test_score': array([0.83028335, 0.82969303, 0.82969303, 0.83530106, 0.83028335,
        0.83116883, 0.83234947, 0.83087367, 0.82910272, 0.8270366 ]),
 'split2_test_score': array([0.83943329, 0.83825266, 0.84061393, 0.83766234, 0.84238489,
        0.83884298, 0.84149941, 0.84090909, 0.84356553, 0.83913813]),
 'split3_test_score': array([0.84090909, 0.84149941, 0.84149941, 0.84031877, 0.84031877,
        0.83884298, 0.84002361, 0.84149941, 0.83943329, 0.83943329]),
 'split4_test_score': array([0.82816652, 0.83023324, 0.829938  , 0.82964275, 0.82905226,
        0.82964275, 0.83023324, 0.829938  , 0.83082374, 0.82787127]),
 'split5_test_score': array([0.83790965, 0.83909064, 0.84145261, 0.83968113, 0.84292885,
        0.84351934, 0.84381459, 0.84233835, 0.84145261, 0.84233835]),
 'split6_test_score': array([0.829938  , 0.83466194, 0.83407145, 0.83259522, 0.83200472,
        0.8343667 , 0.83554768, 0.83731916, 0.83643342, 0.83790965]),
 'split7_test_score': array([0.84351934, 0.8426336 , 0.84558606, 0.84676705, 0.84617656,
        0.84499557, 0.84558606, 0.84794804, 0.84883378, 0.84735754]),
 'split8_test_score': array([0.83141423, 0.8337762 , 0.83229997, 0.83554768, 0.83200472,
        0.83348096, 0.83141423, 0.83200472, 0.83111898, 0.83229997]),
 'split9_test_score': array([0.829938  , 0.82905226, 0.82728078, 0.83289046, 0.83466194,
        0.8337762 , 0.83525244, 0.83643342, 0.83259522, 0.83141423]),
 'mean_test_score': array([0.83503545, 0.83538989, 0.83603927, 0.8366593 , 0.83668881,
        0.83630519, 0.83730879, 0.83748601, 0.83716119, 0.83609856]),
 'std_test_score': array([0.00532373, 0.00462797, 0.00589009, 0.00457114, 0.00567504,
        0.00482616, 0.00502501, 0.00544308, 0.00604171, 0.00612802]),
 'rank_test_score': array([10,  9,  8,  5,  4,  6,  2,  1,  3,  7])}

In [48]:
grid_search.predict(X)

array(['No', 'Yes', 'Yes', ..., 'Yes', 'No', 'Yes'], dtype=object)

In [49]:
grid_search.score(X,y)

0.8467851449489284

In [50]:
grid_search.score(unseen_X,unseen_y)

0.835995085995086